<%- include('./partials/header'); -%>

<section class="section is-medium">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column has-text-centered">
        <h1 class="title">404 Pagina non trovata!</h1>
        <p class="subtitle">Pagina inesistente</p>
        <a class="button" href="/">Home</a>
      </div>
    </div>
  </div>
</section>

<%- include("./partials/footer.ejs") %>