<%- include('./partials/header'); -%>
<style>
  footer {
    margin-top: 0px !important;
  }
</style>
<section class="hero background-home is-fullheight is-fullheight-with-navbar">
  <div class="hero-body ">
    <div class="container has-text-white">Ciao! Sono
      <h1 class="title is-1 has-text-white">
        Marco Zeccola
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="section-heading">
    <h3 class="title is-2">Chi sono?</h3>
    <div class="container">
      <div class="columns">
        <div class="column-is-4">
          <img src="/icons/person.png" alt="">
        </div>
        <div class="column is-8">
          Ciao! Mi chiamo <strong>Marco Zeccola</strong>, mi piace programmare, più che altro Web e andare in canoa.<br>
          Ora sto frequentando il 4&deg anno di informatica all'<strong>ITT Fauser di Novara</strong>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('./partials/footer'); -%>